<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Trash Images</h1>

<table>
  <thead>
    <tr>
      <th>Trash image</th>
      <th>Trash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trash_images.each do |trash_image| %>
      <tr>
        <td><%= image_tag trash_image.trash_image_url(:thumb).to_s %></td>
        <td><%= trash_image.trash %></td>
        <td><%= link_to 'Show', trash_image %></td>
        <td><%= link_to 'Edit', edit_trash_image_path(trash_image) %></td>
        <td><%= link_to 'Destroy', trash_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for TrashImage.new do |f| %>

<%= f.text_field :trash_id, value: 1 %>
<%= f.label :trash_image, "Upload images" %>
<%= f.file_field :trash_image, multiple: true, name: "trash_image[trash_image]"%>

<%= f.submit "save" %>

<% end %>

<%= link_to 'New Trash image', new_trash_image_path %>

<script type="text/javascript">

// $(function() {
// $.noConflict();
// $("#new_trash_image").fileupload()
// });

    
</script>