<%#= form_for(@trash) do |f| %>
<%= form_for @trash, :html => { :multipart => true, :id => "frm_trash"  } do |f| %>

  <% if @trash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trash.errors.count, "error") %> prohibited this trash from being saved:</h2>

      <ul>
      <% @trash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :catetory %><br>
    <%= f.select :catetory_id, options_for_select(Category.all.collect{ |c| [c.category_name, c.id] }) %>
  </div>
  <div class="field">
    <%= f.label :trash_type %><br>
    <%= f.check_box :trash_type %>
  </div>

  <%= f.text_field :temp_id %>
    
<br><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <% unless @trash.new_record? %>                  
       <div id="trash_images">
          <%= render "trash_images/images" %>
     </div>
  <% end %>

   <%= form_for TempImage.new, remote: true do |ti|  %>
      <%= ti.hidden_field :temp_id, value: @trash.temp_id %>
      <label>Add File(s)</label> <%= ti.file_field :image, multiple: true, name: "temp_image[image]" %>        
  <% end %>

   <div id="temp_images">
      <%= render "temp_images/images" %>    
   </div>


<script type="text/javascript">
$(function () {
  // $.noConflict();
  $("#new_temp_image").fileupload({
    dateType:"script"
  });
});


</script>






