<%= form_for(@trash) do |f| %>
  <% if @trash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trash.errors.count, "error") %> prohibited this trash from being saved:</h2>

      <ul>
      <% @trash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :catetory %><br>
    <%= f.select :catetory_id, options_for_select(Category.all.collect{ |c| [c.category_name, c.id] }) %>
  </div>
  <div class="field">
    <%= f.label :trash_type %><br>
    <%= f.check_box :trash_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
