


<p id="notice"><%= notice %></p>

<h2 class="subheader">Trash in your area 
  <%= link_to "change area", {}, :class => "button radius secondary" %>
</h2>

<div class="row columns 6">

  <%= link_to 'New Trash', new_trash_path, class: "button radius success" %>

</div>

<div class="row columns 6">
  <%= form_tag trashes_path, method: "GET" do %>
      
    <%= submit_tag "Wanted", name: "trash_type",class: "button radius" %>
    <%= submit_tag "Getting rid of", name: "trash_type", class: "button radius" %>

  <% end %>
</div>

<br><br><br><br>

<%#= link_to "Wanted Trash", trashes_path(trash_type: true), class: "button radius" %>
<%#= link_to "Getting rid of Trash", trashes_path(trash_type: false), class: "button radius" %>


<div id="trashes" class="row collapse" data-no-turbolink>
  <%= render @trash %>
</div>

<br>

<p><%= paginate @trash %></p>



