<!-- <p id="notice"><%= notice %></p> -->
<strong><%= current_user%></strong>
<p>
  <strong>Title:</strong>
  <%= @trash.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trash.description %>
</p>

<p>
  <strong>Catetory:</strong>
  <%= @trash.catetory_id %>
</p>

<p>
  <strong>Trash type:</strong>
  <%= @trash.trash_type %>
</p>

<% @trash.trash_images.each do |ti| %>
  <%= image_tag ti.trash_image_url(:main).to_s %>
<% end %>


<%= link_to 'Edit', edit_trash_path(@trash) %> |
<%= link_to 'Back', trashes_path %>
